doctype html
html(lang='en')
  head
    meta(charset="UTF-8")
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    title Code Challenge:01
    link(rel='stylesheet' href='css/main.css')

  body
    header

      div(class='header')
        img(src='img/Logo.png' id='Logo')
        h1 WORKING <br>  WITH DESIGN LAB
        p We’ve been helping startups launch and grow their businesses. <br> we help you to fill the gap between development<br> Design and Prodcut management
        img(src='img/Shape_1.png' id='mouse')
    div(class='about')
      h2
        span ABOUT US
      p When you work with us, you are part of a team of comitted collaborators.<br> All aspects of our software development process are integreated, iterative, and<br> agile.<br><br> Our approach unifies design, development and<br> product management to crate exceptional products.<br> We start each project by understanding your business goals<br> the user's needs and the product requirements.<br> Then we Help translate them into effective and elegant solutions.

    div(class='services')
      h2
        span SERVICES
        p Before we sign a contract or write a line of code our team will spend neces-<br>sary time needed to understand your product vision.<br> The outcome of this scoping session is a proposal or high-level statement of<br> work.<br> Based on your requirements, we can provide a complete offereing or just the<br> pieces you need

    div(class='weDo')
      h2
        span WHAT WE DO
      div(class='container')

        div(class='design')
          img(src='img/Shape_2.png' id='pen')
          h3 DESIGN
          p Our design practice offers a full range of services including branding strategy,<br> interaction and visual design and user experience testing.<br> Throughout your project, our designers create and implement visual designs and workflows,<br> solicit user feedback, and work with you to make sure what gets built is what is needed.
        div(class='development')
          img(src='img/Shape_3.png' id='desktop')
          h3 DEVELOPMENT
          P All engineers are fluent in the latest enterprise, mobile and web development technologies.<br> They collaborate with your team to write, test, and improve code on a daily basis, using<br> proven practices such as test-driven development and pair programing.
        div(class='productMan')
          img(src='img/Shape_4.png' id='clipboard')
          h3 PRODUCT MANAGEMENT
          p Planning and development is iterative. Because we are constantly coding and testing, the<br> products we build are always ready to go live. This iterative process allows for changes as<br> business requirements evolve.
    div(class='ourWorks')
      div(class='top' align='center')
        a(href='#')
          img(src='img/top_left.png')
          h2 TOPWORKZ
        a(href='#')
          img(src='img/top_middle.png' id='top_middle')
          h2(id='joint') JOINT
        a(href='#')
          img(src='img/top_right.png')
          h2(id='market') MARKET
      div(class='bottom' align='center')
        a(href='#')
          img(src='img/bottom_left.png')
          h2(id='worktop') WORKTOP
        a(href='#')
          img(src='img/bottom_middle.png' id='bottom_middle')
          h2(id='lable') LABLE
        a(href='#')
          img(src='img/bottom_right.png')
          h2(id='kyiv') KYIV

    div(class='contact')
      h2
        span CONTACT US
      div(class='contain')
        p Planning and development is interative. Because we are constantly coding and<br> testing, the products we build are always ready to go live. This iterative process<br> allows for changes as business requirements evolve.
        button(type='button') CONTACT US

    footer
      img(src='img/Logo2.png' id='footerLogo')
      p © 2014. All Rights Reserved Ellipsis.com
